:root {
  --primary: #ffa500;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  color: black;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #063852;
  border-bottom: 4px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-judul {
  font-size: 2rem;
  color: #ffa500;
}
.navbar .navbar-nav a {
  color: yellow;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 3rem;
}
.navbar .navbar-nav a:hover {
  color: red;
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0rem;
}
.navbar .navbar-extra a:hover {
  color: red;
}

#menu-web {
  display: none;
}

/* main */
.main {
  padding: 20px;
  min-height: 200vh;
  display: flex;
  align-items: normal;
  background-image: url("header2.bg.jpeg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main .tampilan {
  padding: 5rem 7%;
  max-width: 100rem;
}
/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* mobile */
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }

  #menu-web {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: grey;
    width: 15rem;
    height: 20vh;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
}
